<h2>Book Travel</h2>

<form method="POST">

    <select name="type">
        <option>Bus</option>
        <option>Train</option>
        <option>Flight</option>
        <option>Hotel</option>
    </select>

    <br><br>

    <input type="text" name="source" placeholder="Source">

    <br><br>

    <input type="text" name="destination" placeholder="Destination">

    <br><br>

    <input type="date" name="date">

    <br><br>

    <input type="text" name="seat" placeholder="Seat">

    <br><br>

    <input type="number" name="price" placeholder="Price">

    <br><br>

    <button type="submit">Book</button>

</form>